body {
  font-family: 'Arimo', sans-serif;
}

header {
  background-image: url('../images/header_bg.jpg');
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.brand {
  height: 45px;
  width: 167px;
  vertical-align: middle;
}

.header__title {
  font-size: 3em;
  margin-left: 1rem;
  font-weight: 700;
}

.header__subtitle {
  margin-left: 1rem;
}

section {
  margin-top: 1.5rem;
  font-weight: 700;
  font-size: 1.8vw;
}

button.btn.btn-danger.sing-up {
  margin-left: 1rem;
  font-size: 14px;
  letter-spacing: 1.9px;
  font-weight: 300;
}
.col img {
  height: 3.0625rem;
  margin-bottom: 0.5rem;
}

a.tab {
  text-decoration: none;
  text-align: center;
  vertical-align: top;
  font-weight: bold;
  color: #777;
  height: 125px;
  line-height: 20px;
}
a:hover {
    color: white;
}
