html {
  font-size: 62.5%;
}
body {
  font-family: 'Arimo', sans-serif;
  color: white;
  background-color: black;
  font-size: 1.6rem;
  line-height: 1.625;
}

header {
  background-image: url('../images/header_bg.jpg');
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
h1,
h2 {
  font-size: 2.6rem;
  line-height: 1; /* $line-height-base ÷ 26 */
}

h3,
h4 {
  font-size: 1.8rem;
  line-height: 1.444; /* $line-height-base ÷ 18 */
}
.brand {
  height: 45px;
  width: 167px;
  vertical-align: middle;
}

.header__title {
  font-size: 3em;
  margin-left: 1rem;
  font-weight: 700;
}

.header__subtitle {
  margin-left: 1rem;
}

section {
  margin-top: 1.5rem;
  font-weight: 700;
}

button.btn.btn-danger.sing-up {
  margin-left: 1rem;
  font-size: 14px;
  letter-spacing: 1.9px;
  font-weight: 300;
}
#nav-tab img {
  height: 10rem;
  margin-bottom: 0.5rem;
}

#tabs > nav {
  padding-top: 35px;
  background-color: #141414;
  border-bottom: 2px solid #3d3d3d;
}

.features {
  margin-top: 3rem;
}

.features h2 {
  font-size: 2rem;
  line-height: 1.625;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border: none;
  border-bottom: 5px solid #e50914;
  color: white;
  background-color: #000;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-top: none;
  border-left: none;
  border-right: none;
}

a.nav-item {
  text-decoration: none;
  text-align: center;
  vertical-align: top;
  font-weight: bold;
  color: #777;
  line-height: 20px;
}
a:hover {
  color: white;
  border: none;
}

.tin-large-image-tag {
  height: auto;
  max-height: 400px;
  width: auto;
  max-width: 100%;
}

.col img {
  width: 100%;
  margin-top: 3rem;
}
table {
  width: 100%;
  margin-top: 20px;
}

table,
thead,
tbody {
  border-collapse: collapse;
}

thead {
  color: white;
  font-size: 16px;
  text-transform: uppercase;
}

thead th {
  padding: 10px;
}

tbody {
  color: #999;
}

tbody td {
  text-align: center;
  padding: 10px 20px;
}

tbody tr:nth-child(2n) {
  background-color: #222;
}

tbody td:first-child {
  text-align: left;
}

footer a {
  color: #999;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer > p {
  margin: 0 0 30px;
}
footer ul {
  list-style: none;
  margin: 0 0 16px;
  padding-right: 12px;
  min-width: 100px;
  font-size: 13px;
}
